vault_addr = "{{ vault_ssh_helper_vault_addr }}"
ssh_mount_point = "{{ vault_ssh_helper_mount_point }}"
namespace = "{{ vault_ssh_helper_namespace }}"
{% if not vault_ssh_helper_dev_mode %}
ca_cert = "{{ vault_ssh_helper_ca_cert }}"
ca_path = "{{ vault_ssh_helper_ca_path }}"
{% endif %}
tls_skip_verify = {{ vault_ssh_helper_tls_skip_verify | lower }}
allowed_roles = "{{ vault_ssh_helper_allowed_roles }}"
{% if vault_ssh_helper_allowed_cidr_list | length > 0 %}
allowed_cidr_list = "{{ vault_ssh_helper_allowed_cidr_list}}"
{% endif %}